name: 'Build Private Test Image'
on:
  workflow_dispatch:

jobs:
  build-push:
    name: Build and Push
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v2
        with:
          push: true
          context: tests/private-image
          tags: ghcr.io/${{ github.repository }}/private-image:latest